{% extends 'base.html.twig' %}


{% block metatitle %}
    Pokemon non trouvé
{% endblock %}

{% block body %}
    <div class="flex-wrap">
        <img src="https://www.prestashop.com/sites/default/files/wysiwyg/404_not_found.png" alt="404" />

    </div>
{% endblock %}