* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: white;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}

.header-logo {
    width: 100px;
}

.header-links li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    background-color: lightcoral;
}