{% extends 'base.html.twig' %}


{% block body %}

{#    {% include 'partial/header.html.twig' %}#}
<h1>POKEMON BDD EXO</h1>

    <div class="homepage__img">
        <img src="https://cdn.vectorstock.com/i/1000v/73/91/pokemon-logo-icon-template-vector-23237391.jpg" alt="">
    </div>

{#    {% include 'partial/footer.html.twig' %}#}


{% endblock %}