<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
{#    <link rel="stylesheet" href="/public/css/style.css">#}
    {# 아 이 asset() 대신에 그냥 '경로' 쓰면 적용이 안되네 #}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

<header>
    <h2>HEADERHEADERHEADERHEADERHEADER</h2>
    <ul>
        {# path() 쓰는 이유 : URL을 하드코딩하지 않고, 라우트 이름을 사용하여 URL을 생성하므로, 라우트 경로가 변경되더라도 템플릿을 수정할 필요가 없습니다. #}
        <li><a href="{{ path('home') }}">home</a></li>
        <li><a href="{{ path('pokemon_category_list') }}">category</a></li>
        <li><a href="/articles">articles</a></li>
    </ul>
</header>